html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body{
    background-image: url('./assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  margin: 0 auto;
  margin-top: 1em;
  gap: 2px;
  background-color: none;
  padding: 2px; 
  box-sizing: border-box; 
  justify-content: space-around;
  border: 5px solid black;
}

.grid-item {
  flex: 1 0 calc(100%/16 - 4px);
  background-color: transparent;
  border: 1px solid black;
}

.selection{
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.selection > div {
  height: 2.2em;
  width: 5em;
  line-height: 2.2em;
  background-color: aquamarine;;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
}

.selection > div.clicked{
  background-color: lightblue;
}

/* Add this explicit rule */
#update:hover{
  background-color: lightblue;
}

#dimension{

  margin-left: -2em;
}


#update{
  height: 3em;
  width: 8em;
  background-color: aquamarine;
  cursor: pointer;
  margin-left: -2em;
}